html, 
body {
    margin: 0;
}

html {
    background-image: linear-gradient(to bottom, #4806b4, #5112bc, #5a1cc3, #6224cb, #6b2cd3, #7736d9, #8340e0, #8f4ae6, #a059ec, #b167f2, #c076f9, #cf85ff);    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

div.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.intro img {
    width: 11%;
}